.container {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    border: solid blue 1px;
    margin-right: 1rem;
}

.video {
    display: flex;
    border: solid red 1px;
    margin-bottom: 1rem;
}

.info {
    display: flex;
    flex-direction: column;
}

.title {

}

.channelTitle {

}