.thumbnail {
    height: 10rem;
    width: 15rem;
}

.title {
    font-size: 1rem;
    margin: 0;
}

.video {
    display: flex;
    height: 10rem;
    width: 15rem;
    flex-direction: column;
    padding: 1.5rem;
}

.videos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}